<%- include('../partials/header'); %>

<div class="container" style="margin-top: 1rem;">
    <header class="jumbotron">
        <div class="container">
            <h1 class="display-1"> <small class="text-muted">Welcome</small> <%= currentUser.username%></h1>
            <p>Dashboard</p>
            <p>
                <a class="btn btn-primary btn-sm" href="/semesters/new">Add New Semester Details</a>
            </p>
        </div>
        
    </header>

    <div class="row" style="display:flex; flex-wrap:wrap;">
        <% semesters.forEach(function(semester){ %>
            <div class="col-md-3 col-sm-6" style="margin-top: 2rem;">
                <div class="thumbnail">
                    <div class="card">
                        <div class="card-body" style="text-align: center;">
                            <h2>Semester <%= semester.semester%></h2>
                            <a href="/semesters/<%= semester._id %>" class="card-link btn btn-primary">View Result</a>
                        </div>
                    </div>
                </div>
                
                
            </div>
        <% }); %>
    </div>
<div class="container">

<%- include('../partials/footer'); %>